.containerNav{
    background-color: #A51926;
    border-radius: 0 0 50px 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    
}
.nav{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.nav span, .drop{
  color: white;
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
}
.drop{
    background-color: transparent;
    border: none;
    margin: 0 10px;
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #A51926;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

.btn-success{
    background-color: #A51926;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn-success:hover{
    background-color: #A51926;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.opcionesDrop{
    background-color: #A51926;
    border:none;
    border-radius: 0 0 15px 15px;
    text-decoration: none;
}
.opc:hover{
    background-color: transparent;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 20px;

}