.btnWP button {
  position: fixed;
  left: 75%;
  top: 85%;
  background-color: #25d366;
  border: none;
  cursor: pointer;
  border-radius: 50px 50px;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.35);
  width: 250px;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.btnWP button img {
  margin: 0 10px;
  /* width: 24px; */
}
@media (max-width: 992px) {
  .btnWP button {
    left: 60%;
    top: 90%;
  }
}
@media (max-width: 768px) {
  .btnWP button div {
    display: none;
  }
  .btnWP button {
    width: 56px;
    height: 56px;
    left: 80%;
    top: 85%;
    border-radius: 24px;
  }
}
